.main-nav {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 100%;
}

.main-nav-item {
      margin-right: 1rem;
}

.nav-link,
.nav-link-logo {
      width: 25%;
}

.nav-link {
      display: flex;
      justify-content: space-around;
      font-size: 17px;
      color: black;
}

.nav-link a {
      font-size: 17px;
      color: #6d767e;
      text-decoration: none;
}
.active {
      border-bottom: #6d767e 2px solid;
}

.main-nav-item-home.active {
      border: none;
}

img {
      height: 100px;
}

.nav-title {
      text-align: center;
      color: #5a6f07;
}

.image{
      width: 30%;
            /* or max-width: 100%; */
            height: auto;
}


@media only screen and (max-width: 375px) {
      .main-nav{
            justify-content: space-around;
      }
      .nav-title, .nav-link a{
            font-size: 15px;
      }
 .nav-link {
       width: 60%;
 }
      .nav-link-logo{
            width: 10%;
      }
             .nav-link-logo a img{
                   width: 100%;
                   height: auto;
             }
}


@media only screen and (min-width: 376px) and (max-width: 810px) {
      .main-nav {
                  justify-content: space-around;
            }
            .nav-title{
                  margin-right: auto;
            }
      .nav-link{
            width: 30%;
      }
            .nav-link-logo {
                  width: 10%;
            }
      
            .nav-link-logo a img {
                  width: 100%;
                  height: auto;
            }
}