.form {
      background-color: #577004;
      width: 100%;
      height: auto;
}

.form-btn {
      background-color: #3d4e03;
      font-size: 16px;
      color: white;
      border: none;
      border-radius: 5px;
      width: 20%;
      height: 40px;
      margin-bottom: 2%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
}

input,
select {
      height: 30px;
      border: 2px solid black;
      border-radius: 5px;
      width: 100%;
}
label {
      font-weight: bold;
      margin-bottom: 3%;
}
input::placeholder {
      padding-left: 3%;
}

form {
      display: flex;
      flex-direction: column;
      width: 38%;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      align-items: center;
      margin-top: 2%;
      /* margin-bottom: 10%; */
      border-radius: 8px;
}

.main-user-box {
      width: 90%;
}

h2 {
      border-bottom: 1px solid black;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
}

.user-box-service {
      display: flex;
      flex-direction: column;
      margin-bottom: 5%;
      width: 90%;
      margin-left: auto;
      justify-content: center;
      margin-right: auto;
}
.name-user-box,
.date-user-box {
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;
}

.user-box {
      display: flex;
      flex-direction: column;
      margin-bottom: 5%;
      width: 40%;
}

small {
      color: red;
      font-weight: bold;
}

.form-title {
      text-align: center;
      color: #fff;
      margin-top: 2%;
      padding-top: 2%;
}

.modal-section {
      padding-top: 20.5%;
}

.btn-close {
      background-color: #3d4e03 !important;
      font-size: 16px !important;
}
.modal-paragraphe {
      text-align: center;
}
